<div *ngIf="viewDialog">
<h2 mat-dialog-title style="text-align: center;">View User <button matTooltip="edit Role"  style="float: right; margin-top: 5px;"  mat-raised-button color="primary" (click)="editRole()" >Edit  Role</button></h2>
<mat-dialog-content class="mat-typography">
    <div class="container-fluid" style="margin-top: 10px;">
  
        <div class="row">
        
          <div *ngFor="let list of dataList | keyvalue"  class="col-md-6 col-sm-6" >
            <mat-list style="margin-bottom: 5px;border: 2px solid;">
                <mat-list-item>
                  <span matListItemTitle>{{ updateValue(list.key) }}</span>
                  <!-- <span matListItemLine>{{list.value}}</span> -->
                  <span matListItemLine *ngIf="list.key == 'User Role'" >{{list.value == 2?'Normal': list.value == 3 ? 'Developer': list.value == 4 ? 'Hr' :''}}</span>
                  <span matListItemLine *ngIf="list.key != 'User Role'" >{{list.value}}</span>
                </mat-list-item>
                </mat-list>
          </div>
          </div>
          </div> 
  </mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>Cancel</button> -->
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
</div>

<div *ngIf="!viewDialog">
  <mat-dialog-content class="mat-typography">
      <div class="container-fluid" style="margin-top: 10px;">
    
          <div class="row">
           
                  <div class="col-md-12 col-sm-12" style="scroll-behavior: auto;">
                    <div>
                      <mat-card >
                        <mat-card-header style="display: block;text-align: center;color: rgb(92, 153, 206);">
                            <mat-card-title style="font-size: 22px;">Edit Role</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <form action="" [formGroup]="userForm">
                                <div style="max-height: 40vh" class="align-items-center align-self-center">
                                    <!-- <div id="cover-spin" class="popup-loader" *ngIf="loader == true"></div> -->
                                </div>
               
                                            <div class="row mx-0">
                                              <div class="col-sm-12 col-md-12">
                                                  <!-- <mat-form-field class="w-100"> -->
                                                    <div class="w-100" style="margin-top: 9px;">
                                                      <mat-label style="color: grey;">Role* :</mat-label>
                                                      <mat-radio-group  formControlName="role" (change)="radioChange($event)" required >
                                                        <mat-radio-button class="example-margin" value="2">Normal</mat-radio-button>
                                                        <mat-radio-button class="example-margin" value="3">Developer</mat-radio-button>
                                                        <mat-radio-button class="example-margin" value="4">Hr</mat-radio-button>

                                                      </mat-radio-group>
                                                      <mat-error *ngIf="userFormControl['role'].errors?.['required'] && isFormSubmitted" style="font-size: 11px;">Role is Required.</mat-error>
                                                  <!-- </mat-form-field> -->
                                                  </div>
                                              </div>
                                              </div>
                                    </form>
                        </mat-card-content>
                        <mat-card-footer style="text-align: center;margin-bottom:10px;">
              
                                <button matTooltip="Update Role" type="submit"  mat-raised-button color="primary" (click)="updateForm()" [mat-dialog-close]="true" cdkFocusInitial >Update Role</button> 
                  
                        </mat-card-footer>
                      </mat-card>
                    </div>
                       
                  </div>
                </div>
              </div>
            
          
    </mat-dialog-content>
  <mat-dialog-actions align="end">
    <!-- <button mat-button mat-dialog-close>Cancel</button> -->
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Cancel</button>
  </mat-dialog-actions>
  <div id="cover-spin" *ngIf="loader === true"></div>
</div>