.navbar.navbar-light.bg-light {
    background-color: rgb(121 158 195)!important;

    img {
        width:10%;
        margin-top: 5px;
    }
    #logout-btn{
        float: right;
        margin-right: 5px;
        background-color: #0d6efd;
    }

}