
<div class="container-fluid" style="margin-top: 5px;">

  <div class="row">
    <div class="col-md-12 col-sm-12" style="scroll-behavior: auto;">
      <div>
        <div class="container">
          <h1>Ingestion Management</h1>
          <button (click)="triggerIngestion()" [disabled]="loader">Trigger Ingestion</button>
        
          <h2>Status</h2>
          <table>
            <tr>
              <th>ID</th>
              <th>Status</th>
              <th>Start Time</th>
            </tr>
            <tr *ngFor="let status of ingestionStatus">
              <td>{{ status.id }}</td>
              <td>{{ status.status }}</td>
              <td>{{ status.startTime | date: 'short' }}</td>
            </tr>
          </table>
        </div>
      </div>
         
    </div>
  </div>
</div>

<div id="cover-spin" *ngIf="loader === true"></div>